<div class="center">
  <button id="addButton" class="btn btn-primary" (click)="addProduct()" *ngIf="!data.shop"><b>+</b></button>
</div>
<div class="row">
  <!--<div class="product-info col-md-4" *ngFor='let prod of product,let i = index'>-->
    <div class="product-info col-md-4" *ngFor='let prod of product'>
      <div class="card card-body bg-light p-1 m-1">
        <div class="row">
          <!--<img [src]='prod.imageUrl' alt="Product image" class="img-fluid col-md-6" />-->
          <img src="/img/{{ prod.imageUrl }}" alt="Product image" class="img-fluid col-md-6 " />
          <!--<img src="/img/{{ prod.imageUrl }}" alt="Product image" class="img-fluid col-md-6" />-->
          <h3 class="col-md-6">{{prod.category}}</h3>
        </div>
        <ul class="product-name list-unstyled">
          <li><strong>Price</strong>: {{ prod.price | currency:"USD":true }}</li>
          <li><strong>Name</strong>: {{ prod.name }}</li>
        </ul>
        <button id="buyButton" class="btn btn-success" (click)="AddToOrder(prod)" *ngIf="data.shop">Buy</button> 
        <div class="row" *ngIf="!data.shop">
          <button id="editButton" class="btn btn-primary col-md-6" (click)="EditProduct(prod.id)">Edit{{prod.id}}</button>
          <button id="deleteButton" class="btn btn-success col-md-6" (click)="deleteProduct(prod.id)">Delete</button>
        </div>
      </div>
    </div>
</div>
