<div class="row">
  <div class="col-md-6">
    <div class="container">
      <h2>Product Data</h2>
      <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
          <div *ngIf="noPicture" class="alert alert-warning">{{ errorMessage }}</div>
          <label for="categories">Categories</label>
          <select class="form-control" aria-label="Default select example" id="categories" [(ngModel)]="product.category"
                  name="categories">
            <option>Pitos</option>
            <option>Mildreds</option>
            <option>Serahs</option>
            <option>RoseMaries</option>
            <option>Caballos</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input id="name" name="name" class="form-control" type="text" [(ngModel)]="product.name"
                 required #nameField="ngModel" (blur)="onBlur(nameField)"
                 [class.field-error]="form.submitted && nameField.invalid" />
          <div [hidden]="nameField.valid || !form.submitted" class="alert alert-danger">
            Enter a name
          </div>
        </div>
        <div class="form-group">
          <label for="name">Price</label>
          <input id="price" name="price" class="form-control" type="number" [(ngModel)]="product.price" />
        </div>
        <div class="form-group">
          <label for="imageUrl">Image URL</label>
          {{product.imageUrl}}
          <!--<input id="imageUrl" name="imageUrl" class="form-control" type="text" [(ngModel)]="product.imageUrl" />-->
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
      <button class="btn-primary" (click)="getAProduct(id.value)">GetAProduct</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="container">
      <input type="number" #id class="form-control" />
      <!--<img [src]="createImgPath()" alt="profile picture" style="width:60px; height:60px;">-->
      <img [src]="createImgPath()" alt="profile picture" class="img-fluid">
      <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
    </div>
  </div>
</div>


