<div class="container">
  <h2>Product Data</h2>
  <form>
    <div class="form-group">
      <label for="categories">Categories</label>
      <select class="form-control" aria-label="Default select example" id="categories">
        <!--<option selected>Open this select menu</option>-->
        <option value="1">Pitos</option>
        <option value="2">Mildred</option>
        <option value="3">Serah</option>
        <option value="4">RoseMaries</option>
        <option value="5">Caballos</option>
      </select>

    </div>
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" name="name" class="form-control" type="text" />
    </div>
    <div class="form-group">
      <label for="name">Price</label>
      <input id="price" name="price" class="form-control" type="text" />
    </div>
    <img [src]="createImgPath()" alt="profile picture" style="width:60px; height:60px;">
    <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
    <button class="btn btn-primary">Ok</button>
  </form>
</div>
